<div class="container-fluid">

    <div class="container" align="center">
        <div style="width:30%;border-radius:100%;margin-top:2rem;">
            <img src="/assets/img/startup.jpeg" alt="" width="100%" style="border-radius: 100%;">
        </div>
        <h2>E-school Entreprise</h2>
    </div>

    <div class="container">
        <div>
            <h4>Notre vision</h4>
        </div>
        <div>
            <p>
                Nous voulons offrir des solutions en ligne en physique - chimie de qualité. Nous avons des professeurs très qualifiés, qui dispenseront ces formations.
                Offrir à nos apprenants, les compétences en matière de science qu'il leur faut, est de loin notre désir le plus chère !
            </p>
        </div>
    </div>

    <div class="container">
        <div>
            <h4>
                Nos Prix
            </h4>
        </div>
        <div>
            <p>
                L'apprenant paie son inscription. Dès lors, il aura accès au cours pendant toute l'année ! <br>
                Néanmoins, il n'aura accès qu'aux cours pour lesquelles il s'est inscrit.
            </p>
        </div>
    </div>

    <br><br>

</div>